<div class="wrapper">  
    <div class="container form-bg">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData">
            <td>{{ user.ID }}</td>
            <td>{{ user.Username }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteUser(user.ID)">Delete</button>
              <button class="btn btn-primary" (click)="updateUser(user.ID)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
