<div [ngStyle]="{ display: alert ? 'block' : 'none' }" class="alert alert-danger alert-dismissible fade show alertstyle"
  role="alert">
  <strong>{{error}}</strong>
</div>

<div class="wrapper">
  <div class="add-contact-container form-bg">
      <h2><strong>Add Contact Information</strong></h2>
      <form [formGroup]= "form" (ngSubmit)="saveContactinfo()">
        <div class="form-group">
          <label for="contactid">Contact ID:</label>
          <input type="text" id="contactid" formControlName="contactid" class="form-control">
        </div>
        <div class="form-group">
          <label for="contactinfotype">Contact Info Type:</label>
          <input type="text" id="contactinfotype" formControlName="contactinfotype" class="form-control">
        </div>
        <div class="form-group">
          <label for="contactinfovalue">Contact Info Value:</label>
          <input type="text" id="contactinfovalue" formControlName="contactinfovalue" class="form-control">
        </div>
        <button type="submit">Save Contact Info</button>
      </form>
    </div>
    
</div>