<div class="wrapper">

  <div class="view-user-container form-bg">
    <h2>View Contact Info</h2>
      <div>
        <input type="text" [(ngModel)]="searchQuery" class="searchbar"  placeholder="Search...">
        <button class="search-icon" (click)="search(searchQuery)"><i class="bi bi-search"></i></button>
        <select id="contactTypeDropdown" [(ngModel)]="selectedContactType" (change)="changeContactInfo(selectedContactType)" class="dropdown">
          <option value="type" selected>Search by Type</option>
          <option value="value">Search by Value</option>
        </select>
      </div>

      <ul class="user-list">
        <div *ngIf="searchQueryEmpty">
          <li *ngFor="let contact of contactData" class="user-item">
            <strong>ID:</strong> {{ contact.ID }}<br>
            <strong>Type:</strong> {{ contact.Type }}<br>
            <strong>Value:</strong> {{ contact.Value }}<br>
          </li>
        </div>
        <div *ngIf="!searchQueryEmpty">
          <div *ngIf="foundContactInfo">
            <li *ngFor="let contact of foundContactInfo"  class="user-item">
              <strong>ID:</strong> {{ contact.ID }}<br>
              <strong>Type:</strong> {{ contact.Type }}<br>
              <strong>Value:</strong> {{ contact.Value }}<br>
            </li>
          </div>
          <li *ngIf="!foundContactInfo" class="user-item">
            <strong>No contact found.</strong>
          </li>
        </div>
      </ul>
    </div>
    
</div>