<div class="login-page bg-dark">
    <div class="container">
        <div class="alert alert-danger" *ngIf="show">
            <strong>{{error}}</strong>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row customclass">
                        <div class="col-md-7 pe-0 box-shadowing">
                            <div class="form-left h-100 py-5 px-5">
                                <!-- Loader Section -->
                                <div *ngIf="showLoader" class="text-center py-3">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>

                                <form action="" class="row g-4" [formGroup]="loginForm" (ngSubmit)="SignIn(loginForm.value)">
                                    <div class="col-12">
                                        <label>Username<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-lines-fill"></i></div>
                                            <input type="text" class="form-control" placeholder="Enter Username"
                                                formControlName="username">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-lines-fill"></i></div>
                                            <input type="password" class="form-control" placeholder="Enter Password"
                                                formControlName="password">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="bg-primary btn btn-primary px-4 float-end">Login</button>
                                        <a href="/register" class="btn btn-success btn-sm">New User</a><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block inset-shadowing">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-person-lines-fill"></i>
                                <h2 class="fs-1">Welcome to <br>My contacts</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
